:root {
  --theme-font-size: 15px;
  --theme-title-size: #fff;
  --theme-tag-view-height: 2.5rem;
  --theme-tag-view-color: #86909c;
  --theme-tag-view-bg-color: #f8f8f8;
  --theme-tag-view-active-color: #fff;
  --theme-tag-view-active-bg-color: #169ce3;
  --theme-header-height: 3rem;
  --theme-header-color: #86909c;
  --theme-header-bg-color: #fff;
  --theme-header-bg-image: none;
  --theme-siderbar-bg-color: #1b294e;
  --theme-siderbar-bg-image: none;
  --x-menu-opened-bg-color: #0f1b3f;
  --x-menu-item-color: #d3ecf9;
  --x-menu-item-hover-color: #fff;
  --x-menu-item-hover-bg-color: #31466a;
  --x-menu-item-active-color: #fff;
  --x-menu-item-active-bg-color: #1661ab;
  --x-menu-item-favorite-color: #ffa100;
  --x-menu-item-all-color: #51c4d3;
  --x-menu-item-height: 2.25rem;
  --x-menu-width: 12.5rem;
  --theme-bg-layout: #fff;
  --theme-two-columns: 12px;
  --el-color-primary: #169ce3;
  --el-color-success: #67c32a;
  --el-color-info: #909399;
  --el-color-warning: #e6a23c;
  --el-color-danger: #f56c6c;
  --el-text-color-regular: #202023;
  --el-border-color: #c9cdd4;
  --el-fill-color-blank: #fff;
  --el-fill-color-light: #f5f7fa;
  --theme-form-color: #4e5969;
  --theme-table-header-bg: #34495e;
  --theme-table-header-color: #fff;
  --theme-table-body-bg: #fff;
  --table-head-row-padding: 6px;
  --table-body-row-padding: 6px;
  --table-head-column-padding: 8px;
  --table-body-column-padding: 8px;
}
